.text-input {
  border: 1px solid #cacccd;
  height: 50px;
  font-size: $font-size-large;
  font-weight: 300;
  padding: $s-size;
}

.text-input:focus {
  outline: none;
  border: 1px solid #f36156;
  box-shadow: 0 0 10px #cacccd;
}
.text-input:hover {
  visibility: visible;
  cursor: pointer;
}
.select {
  @extend .text-input;
}

.textarea {
  @extend .text-input;
  height: 10rem;
}
